extends layout
block content
  include diagram.pug

block footer
  script(src="https://unpkg.com/d3@5")
  script(src="https://unpkg.com/d3-delaunay@5")
  script(src=`${config.assetPath}js/diagram.js`)
